@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-.font-1> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
.Ag.font-2{
  font-family: 'Agdasima', sans-serif;
   font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-.font-3> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared styles */
.dark-1{
    color: #252432;
}
.dark-2{
    color: rgba(0, 0, 0, 0.5);
}
.dark-3{
    color: rgba(233, 90, 8, 1);
}

/* Main Related Styles*/

/* navbar styles */
.navbar{
    max-width: 1140px;
    max-height: 70px;
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    
}
.nav-links{
    display: flex;
    gap: 45px;

}
.nav-links li>a{
    text-decoration: none;
    color: #8987A1;
}
.nav-links li{
    list-style: none;
    color: #8987A1;
}
#home{
    color: #252432;
    font-weight: bold;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 5px auto;

}
/* Banner related styles */
.banner{
    max-width: 1140px;
    max-height: 450px;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 150px;
   
     
}
.banner-img{
    max-width: 550px;
}
.banner-content{
    max-width: 550px;
    
}
.banner-description{
    font-size: 1.37rem;
}
.banner-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 13px;
}
/* card-section */
.card-section{
    max-width: 1140px;
    margin: 100px auto;
}
/* our-plant styles */
.our-plants{
    text-align: center;
    justify-items: center;
    margin: 0 120px;
    margin-top: 120px;
}
.title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.description{
    font-size: 1.37rem;
    color: rgba(0, 0, 0, 0.5);
    width: 888px;
    height: 54px;
    margin-top: 16px;
}
/* card related styles */
.card-container{
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 20px;
    

}

.card{
    text-align: center;
    width: 270px;
    
    
}
.card p{
    font-size: 1.35rem;
    margin-top: 10px;
    margin-bottom:10px ;
}
.card h3{
    font-size: 1.35rem;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 10px;
}
.btn-primary{
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 80px;
    background-color: #E95A08;
    color: white;
    border: none;
    margin: 10px auto;
}
/* card lover section */
.container{
    max-width: 1140px;
    max-height: 590px;
    margin: 80px auto;
    
}
.lovers-card{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
  
}
.card-title{
    font-weight: bold;
    font-size: 3.12rem;
    margin-bottom: 20px;
    
}
.list{
    font-size: 1.35rem;
    color: rgba(0, 0, 0, 0.5); 
     
}
.margin{
    margin-bottom: 20px;
}
.lover-img{
    position: relative;
}
.badge{
    max-width: 286px;
    max-height: 286px;
    position: absolute;
    top: -100px;
    right: -55px;
}
/* deals styles */
.deal-container{
     max-width: 1140px;
    max-height: 590px;
    margin: 80px auto;
}
.deals-section{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
/* container related styles */
.container-gap{

    max-width: 1140px;
    max-height: 430px;
    margin: 100px auto;
    
}
 .card-container-gap{ 
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2,1fr);
    justify-items:center ;
    

}
.deals-section p{
    text-align: center;
}
.deals-title{
     font-weight: bold;
     font-size: 3.12rem;
    margin-bottom: 5px;
}
.deals-description{
    font-size: 1.35rem;
    margin-top: 10px;
   
}
 .bloom{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assets/deal-bloom.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ana{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assets/deal-ana.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.zabo{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.one{
    display: flex;
    flex-direction: column;
    gap:16px;
   
    
}

 .card-bm{ 
    height:200px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    gap: 10px;
    
    
}
 .card-bm span{ 
    text-decoration: underline;
} 
 .card-zb span{
    text-decoration: underline;
}
.card-bm h2{
    margin-bottom: 0;
}
.card-zb h2{
    margin-bottom: 0;
} 
.card-zb{
     height: 415px;
     width: 700px; 
     border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    gap:10px;
    
} 
/* footer related styles */
.join-section{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
    url(./assets/news-letter-bg.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
.section-gap{
    margin-top: 120px;
}
.join-title{
    font-weight: bold;
    font-size: 3.12rem;
    color: white;
    margin-bottom: 2px;
}
.btns-primary{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 1rem;
    
}
.submission-box{
    display: flex;
    width: 70%;
}
.submission-box input[type="email"]{
    width: 100%;
    padding:10px 20px;
    outline: none;
}
.last-content{
    max-width: 350px;
    max-height: 170px;
}
.last-part{
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}

@media screen and (max-width:576px){
    .hide{
        display: none;
        max-height: auto;
        
    }
    .banner{
        flex-direction: column-reverse;
    }
    .lovers-card{
        flex-direction: column;
        gap: 10px;
    }
    .badge{
        display: none;
    }
    .img-1{
        max-width: 100%;
    }
    br{
        display: none;
    }
    .card-title{
        font-size: 2rem;
    }
    .container{
        margin: 0;
        margin-top: 250px;
    }
    .description{
        height: 0;
        width: 500px;
        margin-bottom: 100px;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
        margin: 0;
        gap: 10px;
        width: 250px;
        
    }
    .card{
        width: 250px;
    }
    .deal-container{
        margin: 180PX auto;
        margin-bottom: 20px;
    }
    .card-container-gap{
        grid-template-columns: repeat(1,1fr);
        
    }
    .card-zb{
        height: 200px;
        width: 300px
        
    }
    .section-gap{
        margin-top: 300px;
    }
    .btns-primary{
        padding:8px 20px;
    }
   .last-part{
      flex-direction: column;
   }
   
}
    